/*! Place your custom styles here */

.feature h5{
    text-transform: uppercase;
    color: #4a90e2 !important;
}
.feature p{
    margin-top: 15px;
}
.feature a{
    font-weight: 600 !important;
    color: #333 !important;
}
.feauture-box h3{
    line-height: 20px;
    color: #4a90e2 !important;
    margin-bottom: 3px;
    text-shadow: 1px  0px  0 #000;
}
.feauture-box span{
    
   text-shadow: 0px 1px 0px #f1f1f1;
font-size: 16px;
}
.feauture-box  img{
    max-height: 104px;
}
.no-pd{
    padding: 0 !important;
        margin:  auto !important;
}
.testimonial span{
    font-size: 19px;
}
.testimonial{
    padding-left: 40px;
}
.tabs {
    border: none;
    
}
 .slider-top{
    position: relative;
 }
.panel-abs-top{
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
}
.bar--absolute, .pos-fixed{
    width: auto !important;
}
.panel-abs-mid{
    position: absolute;
    z-index: 100;
    top: 20%;
    width: 100%;
}
.panel-abs-mid h1{
    color: #fff;
    font-size: 35px;
}

.panel-abs-mid p{
    color: #fff;
    text-shadow: none;
    font-size: 18px;
    font-weight: 300;
}
.menu-horizontal li a{
    opacity: 1 !important;
}
.menu-horizontal li a:hover{
    color: #4a90e2 !important;
}
.feauture-box{
    margin-top: 120px;
}


.flickity-prev-next-button{
    z-index: 1000 !important;
}

.testimonial .testimonial__image {
    border-radius: 8%;
    height: 200px;
    margin-bottom: 1.85714em;
    width: 200px;
}
.testimonial-part{
    padding: 0 !important;
    margin-bottom: -25px;
    text-align: left;
}
.testimonial span,.testimonial h5{
    text-align: left !important;
    float: left !important;
    width: 100%;
}












